.logo{
    position: absolute;
    width: 22em;
    margin-top: -9em;
    margin-left: -11em;
}
/*FIRST GROUP */
.first-row{
    display: flex;
    justify-content: center;
    margin-top: 10em;
}
.first-row div{
    border-style: solid;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #cec9c9;
}

.first-row div:hover{
    background-color: #BFD7ED;
}

/*SECOND GROUP */
.second-row{
    display: flex;
    justify-content: center;
}
.second-row div{
    border-style: solid;
    background-color: #cec9c9;
}
.second-row div:hover{
    background-color: #BFD7ED;
}
.second-row-inner{
    padding-top: 5.5em;
    padding-left: 7px;
    padding-right: 7px;
}

.middle-group {
    border-style: solid;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 40px);
}
.middle-group-inner{
    padding-top: 20px;
    padding-bottom: 20px;
}


/*THIRD GROUP */
.third-row{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.third-row div{
    border-style: solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cec9c9;
}
.third-row div:hover{
    background-color: #BFD7ED;
}

/*Coordinate classes */
.ostyle{
    position: absolute;
    color: #ff7300;
    z-index: 2;
}
.xstyle{
    position: absolute;
    color: #00000060;
    z-index: 3;
}
.position11{
    margin-top: -30px;
    margin-left: -5px;
    font-size: 36px;
}
.position12{
    margin-top: -30px;
    margin-left: -5px;
    font-size: 36px;
}
.position13{
    margin-top: -30px;
    margin-left: -5px;
    font-size: 36px;
}
.position7{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position8{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position9{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position0{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position5{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position0{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position1{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position14{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position3{
    margin-top: -30px;
    margin-left: 4px;
    font-size: 36px;
}
.position10{
    margin-top: -30px;
    margin-left: -4px;
    font-size: 36px;
}
.position15{
    margin-top: -30px;
    margin-left: -4px;
    font-size: 36px;
}